*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    width: 100%;
    transition: 300ms;
}
section a{
    text-decoration: none;
    color: rgb(108, 177, 200);
    transition: 300ms;
}
section a:hover{
    color: #003eb1;
}
.themed-body{
    background-color: rgb(17, 17, 17);
}
.themed-texts{
    color: white;
}
.jumbotron{
    background-image: url(img/Jumbotron-backgound.jpg);
    background-size: cover;
    height: 540px;
    width:1fr;
    padding-top: 20px;
}
.box{
    border: 1px solid rgb(128, 128, 128);
    text-align: center;
    padding: 50px 20px 50px 20px;
    max-width: 80%;
    margin: auto;
    position: relative;
    top: 140px;
    background-color: rgba(59, 59, 59, 0.5);
    border-radius: 40px;
    box-shadow: 10px 10px 10px gray;
    color: rgb(230, 229, 200);
    font-style: italic;
    font-size: 0.7em;
}
.navbar{
    height: 400px;
    width: 100%;
    background-color: #1285c7;
    transition: 400ms;
}
.collapsed-navbar{
    height: 70px;
    width: 100%;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.brand-logo{
    height: 55px;
    position: relative;
    left: 20px;
    top: 8px;
    border-radius: 20px;
}
.navbar-toggler{
    position: relative;
    left: 130px;
    top: -10px;
    font-size: 30px;
}
ul a{
    text-decoration: none;
    color: white;
}
ul li{
    list-style-type: none;
    padding: 10px;
    transition: 300ms;
}
ul li:hover{
    font-size: 110%;
}
ul{
    padding-top: 15px;
    text-align: center;
}
.collapsed-ul{
    display: none;
}
.theme-toggler{
    background: none;
    border: none;
    color: white;
    font-size: 1em;
}
#home h2 ,
#studie h2,
#projects h2, 
#skills h2,
#contact h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.home-page-content,
.studie-page-content,
.projects-page-content,
.first-grid,
.second-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.my-photo{
    height: 300px;
    border-radius: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 30px gray;
}
.home-section-text,
.studie-text,
.school-text,
.first-project-p,
.second-project-p,
.html-p,
.css-p,
.bootstrap-p,
.c-sharp-p,
.javascript-p,
.third-project-p,
.fourth-project-p{
    text-align: center;
    padding:40px;
}
.studie-photo,
.school-photo,
.first-project-photo,
.second-project-photo,
.third-project-photo,
.fourth-project-photo{
    height: 260px;
    width: 350px;
    border-radius: 40px;
    box-shadow: 10px 10px 30px rgb(172, 172, 172);
    margin:30px 0px 30px 0px;
    box-shadow: 10px 10px 30px gray;
}
.third-project-photo{
    height:300px ;
}
.html-logo,
.css-logo,
.bootstrap-logo,
.c-sharp-logo,
.javascript-logo{
    height: 220px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px gray;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name-input ,.email-input{
    height: 30px;
    width: 300px;
    border: none;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    margin: 20px;
    padding-left:10px;
    font-size: 20px;
}
.name-input:focus,.email-input:focus,textarea:focus{
    outline: none;
}
textarea{
    resize: none;
    width: 320px;
    height: 200px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 60px rgb(146, 146, 146);
    border: none;
    font-size: 24px;
}
.submit{
    height: 60px;
    width: 170px;
    border-radius: 20px;
    border: none;
    transition: 700ms;
    position: relative;
    top: 40px;
    margin-bottom: 30px;
    font-size: 1em;
    background-color: #1285c7;
    color: white;
}
.submit:hover{
    cursor: pointer;
    transform: rotateY(180deg);
}
.contact-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
span a{
    text-decoration: none;
    color: black;
}
footer{
    padding: 30px 10px 30px 10px;
}
.footer-bar{
    background-color: rgb(190, 190, 190);
    height: 20px;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
    width: 300px;
    margin: auto;
    box-shadow: 10px 10px 30px gray;
}
/*desktop display*/
@media (min-width: 600px){
    body{
        font-size: 1.6em;
    }
    .jumbotron{
        height: 600px;
        padding-top: 150px;
    }
    .box{
        font-size: 1em;
    } 
    .navbar{
        height: 80px;
    }
    .navbar-toggler{
        display: none;
    }
    ul{
        display: flex;
        flex-direction: row;
        float: right;
        padding-right: 50px;
    }
    #home h2,#studie h2,#projects h2,#skills h2,#contact h2{
        padding: 50px;
    }
    .home-page-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding:60px 0px 180px 0px;
    }
    .my-photo{
        margin: auto;
        grid-column: 1/2;
        grid-row: 1/2;
        height: 400px;
    }
    .home-section-text{
        grid-column: 2/3;
        grid-row: 1/2;
        padding: 0px 80px 0px 80px ;
    }
    .studie-page-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 60px 0px 180px 0px;;
    }
    .studie-photo{
        grid-column: 1/2;
        grid-row: 1/2;
        margin: auto;
        width: 500px;
        height: 300px;
    }
    .studie-text{
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 0px 170px 0px 170px ;
    }
    .school-photo{
        margin: auto;
        grid-column: 2/3;
        grid-row: 1/2;
        width: 500px;
        height: 300px;
    }
    .school-text{
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 0px 170px 0px 170px ;
    }
    .projects-page-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        padding: 60px 0px 180px 0px;
    }
    .first-project-photo{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 400px;
        margin: auto;
        height: 300px;
    }
    .first-project-p{
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 0px 100px 0px 100px ;
    }
    .second-project-photo{
        grid-column: 2/3;
        grid-row: 1/2;
        margin: auto;
        width: 400px;
        height: 300px;
    }
    .second-project-p{
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 0px 170px 0px 170px;
    }
    .third-project-photo{
        grid-column: 1/2;
        grid-row: 3/4;
        margin: auto;
    }
    .third-project-p{
        grid-column: 1/2;
        grid-row: 4/5;
        text-align: center;
    }
    .fourth-project-photo{
        grid-column: 2/3;
        grid-row: 3/4;
        margin: auto;
    }
    .fourth-project-p{
        grid-column: 2/3;
        grid-row: 4/5;
        padding: 0px 170px 0px 170px;
    }
    .first-grid{
        display: grid;
        grid-template-columns: repeat(1fr,3);
        grid-template-rows: 1fr 1fr;
        padding: 60px 0px 0px 0px;
    }
    .html-logo{
        grid-column: 1/2;
        grid-row: 1/2;
        margin: auto;
        height: 280px;
        width: 280px;
    }
    .html-p{
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 0px 100px 0px 100px;
    }
    .css-logo{
        grid-column: 2/3;
        grid-row: 1/2;
        margin: auto;
        height: 280px;
        width: 280px;
    }
    .css-p{
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 0px 100px 0px 100px;
    }
    .bootstrap-logo{
        grid-column: 3/4;
        grid-row: 1/2;
        margin: auto;
        height: 280px;
        width: 280px;
    }
    .bootstrap-p{
        grid-column: 3/4;
        grid-row: 2/3;
        padding: 0px 100px 0px 100px;
    }
    .second-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 60px 0px 180px 0px ;
    }
    .c-sharp-logo{
        grid-column: 1/2;
        grid-row: 1/2;
        margin: auto;
        height: 280px;
        width: 280px;
    }
    .c-sharp-p{
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 0px 100px 0px 100px;
    }
    .javascript-logo{
        grid-column: 2/3;
        grid-row: 1/2;
        margin: auto;
        height: 280px;
        width: 280px;
    }
    .javascript-p{
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 0px 100px 0px 100px;
    }
    .name-input,.email-input{
        width: 700px;
    }
    .textarea{
        width: 900px;
    }
    .contact-links span{
        padding: 10px;
    }
    .footer-bar{
        width: 94%;
    }
}
